<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script>
    books= <%- JSON.stringify(data1) %>;
    requests= <%- JSON.stringify(data2) %>;
    uname= '<%= name %>';
</script>
<body>
    Request Portal

    <table id="booklist"></table>
    <form action="/clienthome" method="GET">
    <input type="button" onclick="location.href='/clienthome';" value="Home"/>
    </form>
</body>
    <script src="scripts/requestportal.js">
    </script>
</html>